// Configuration file for sc-vdj-adt-gex-10x pipeline 

params {

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-rna-10x) 
	metaid = "xmetaidx"
	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "xsamplesheetx"
	// Folder of experiment raw data
	runfolder = "xrunfolderx"
	// Set customer delivery email
	email = "xemailx"
	// demux - set to 'n' if fastq already generated (they should then be in FQDIR)
	demux = "xdemuxx"
	// bcl2fastq arguments - e.g. "--minimum-trimmed-read-length 20 --mask-short-adapter-reads 20" "--use-bases-mask=Y28n*,I6n*,N10,Y90n*" 
	bcl2fastqarg = "xbclargx" 

	// Index type ('dual' or 'single')
	index = "xindexx"

	// Set references
	// GEX
	genome_h="/projects/fs1/shared/references/hg38/cellranger/refdata-gex-GRCh38-2020-A"
	genome_m="/projects/fs1/shared/references/mm10/cellranger/refdata-gex-mm10-2020-A"

	// VDJ
	vdj_ref_h="/projects/fs1/shared/references/hg38/cellranger/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0"
	vdj_ref_m="/projects/fs1/shared/references/mm10/cellranger/refdata-cellranger-vdj-GRCm38-alts-ensembl-5.0.0"
	// if using other genome reference than hg38 or mm10
	genome_custom = "xcustomgenomex"
	vdj_ref_custom = "xvdjrefcustomx"

	// Feature reference file with antibody declaration
	features = "xfeaturesx"

	// Base ctg-dirs: 
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/sc-vdj-adt-gex-10x/${metaid}/"
	basedir = "/projects/fs1/shared/ctg-projects/sc-vdj-adt-gex-10x/${metaid}/"
	ctgqc = "/projects/fs1/shared/ctg-qc/sc-vdj-adt-gex-10x/${metaid}"

	/*
	   =================
	   AUTOMATIC PARAMS 
	   =================
	*/

	sheet = "${basedir}/${ssheet}"
	fqdir = "${outdir}fastq/"
	qcdir = "${outdir}qc/"
	countdir = "${outdir}count/"
	aggdir = "${outdir}aggregate/"
	metadir = "${basedir}/metadata"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/sc-cite-seq-10x/sc-cite-seq-10x.v6.sif'
	time='5h'
	cpus='1'

	withName:mkfastq {
		time='24h'
		cpus='18'
		memory='118 GB'
	}
	withName:count {
		time='4d'
		cpus='19'
		memory='118 GB'
	}
	withName:aggregate {
		time='4d'
		cpus='19'
		memory='118 GB'	
	}
	withName:fastqc {
		time='4h'
		cpus='10'
		memory='80GB'
	}
	withName:md5sum {
		time='5h'
		cpus='1'
		memory='128GB'
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
